body {
  font-family: Arial;
  padding: 20px;
  background: #f4f4f4;
}

#products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
}